{% extends 'base.html' %}

{% block title %} - Welcome{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome to Kurz!</h1>
  <p class="lead">
  Kurz is a link shortener for office networks. Use it to replace long and ugly links with short and sweet ones.<br>
  For example you can turn <a href="http://example.com/foo/bar/baz/123412323">http://example.com/foo/bar/baz/123412323</a>
  into <a href="http://{{ short_domain }}/example">{{ short_domain }}/example</a>.<br>
  Use short and memorable links in your slides, on paper and when talking to your colleagues!
  </p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('create') }}" role="button">Create a link</a>
</div>

{% endblock %}
