{% extends 'base.html' %}

{% block title %} - Edit link{% endblock %}

{% block content %}

<h1>Link saved</h1>

<div class="alert alert-success" role="alert">
Successfully saved link <a href="{{ url_for('open', link_id=link.id) }}">{{ link.id }}</a>
</div>

<p>
Share short link: <input class="select-on-click" type="text" readonly value="{{ short_domain }}/{{ link.id }}">
</p>
<p>
  <a class="btn btn-secondary" href="{{ url_for('links') }}" role="button">My links</a>
  <a class="btn btn-primary" href="{{ url_for('create') }}" role="button">Create another link</a>
</p>

{% endblock %}
